:root {
  --swiper-navigation-size: 16px;
  /* --swiper-scrollbar-sides-offset: 50%; */
}

.swiper-button-next {
  color: #fff;
  right: 10px;
  width: 40px;
  height: 40px;
}
.swiper-button-prev {
  color: #fff;
  left: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 28.125em) {
  .swiper-button-next {
    right: 0px;
  }
  .swiper-button-prev {
    left: 0px;
  }
}
.swiper-pagination-bullet {
  background-color: #fff;
  opacity: .5;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: auto;
  top: 1.25rem;
}
.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  max-width: 53.75rem;
  width: 100%;
  left: 50% !important;
  transform: translate(-50%, 0);
  height: 1.5rem !important;
  background-color: #fff !important;
  bottom: .8rem !important;
}
.my-scrollbar {
  background-color: #9D9387;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 2.25rem !important;
  height: 2.25rem !important;
  border-radius: 100px;
  margin-top: -8px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.my-scrollbar:active:before {
  content: '';
  width: 150%;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: .5;
  z-index: 0;
  border-radius: 100%;
}

@media (max-width: 50em) {
  .swiper-horizontal>.swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 0.625rem !important;
    width: 90% !important;
    bottom: 0.8rem !important;
  }

  .my-scrollbar {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
}

.workerSlide {
  transition: opacity .2s linear, -webkit-mask-image .2s linear, -webkit-filter .2s linear !important;
  transition: opacity .2s linear, mask-image .2s linear, filter .2s linear !important;
  transition: opacity .2s linear, mask-image .2s linear, filter .2s linear, -webkit-mask-image .2s linear, -webkit-filter .2s linear !important;

  
}

.workerSlide.swiper-slide-active {
  opacity: 1;
  -webkit-mask-image: none;
  mask-image: none;
  -webkit-filter: none;
  filter: none;
}

@media (min-width: 56.25em) {
  .workerSlide {
    opacity: 0.5;
    -webkit-mask-image: linear-gradient(178deg, #302C2A 60.12%, rgba(48, 45, 42, 0.00) 93.78%);
    mask-image: linear-gradient(178deg, #302C2A 60.12%, rgba(48, 45, 42, 0.00) 93.78%);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
}
.workersSlider .swiper-button-next {
  color: #fff;
  right: 30%;
}
.workersSlider .swiper-button-prev {
  color: #fff;
  left: 30%;
}

@media (max-width: 48em) {
  .workersSlider .swiper-button-next {
    right: 20%;
  }
  .workersSlider .swiper-button-prev {
    left: 20%;
  }
}
@media (max-width: 28.125em) {
  .workersSlider .swiper-button-next {
    right: 5%;
  }
  .workersSlider .swiper-button-prev {
    left: 5%;
  }
}